entrypoint = "main.sh"
modules = ["bash", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["bash", "main.sh"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Validation API"

[[workflows.workflow]]
name = "Run Validation API"
author = 43591463
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m src.main"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
